@font-face {
    font-family: "lobster";
    src: url(/Fonts/Lobster/Lobster-Regular.ttf);
}
body {
    background-image: url(./Images/Backgroundplease.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    color: rgb(202, 201, 201);
    font-family: "lobster";
    font-size: 1.25rem;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;

    width: 100%;
    display: inline-block;
    background-color: black;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: rgb(121, 119, 119);
}
.head-one {
    margin-top: 6rem;
    text-align: center;
}
#first {
    display: inline-block;
    width: 32vw;
    padding-left: 1rem;
    /* border: 1px solid yellow; */
}
.the-one {
    text-align: center;
}
.about {
    text-align: justify;
}
#dogface {
    display: inline-block;
    width: 32vw;

    /* border: 1px solid red; */
}
#secound {
    display: inline-block;
    width: 32vw;
    padding-right: 1rem;

    /* border: 1px solid green; */
}
.head-two {
    text-align: center;
}
.nutrition {
    text-align: justify;
}
#third {
    display: inline-block;
    width: 32vw;
    padding-left: 1rem;
    /* border: 1px solid yellow; */
}
.head-three {
    text-align: center;
}
.grooming {
    text-align: justify;
}
#fourth {
    display: inline-block;
    width: 32vw;
    padding-right: 1rem;
    /* border: 1px solid yellow; */
}
.head-four {
    text-align: center;
}
.exercise {
    text-align: justify;
}

#fifth {
    display: inline-block;
    width: 32vw;
    padding-left: 1rem;
    /* border: 1px solid yellow; */
}
.head-five {
    text-align: center;
}
.training {
    text-align: justify;
}
#last {
    display: inline-block;
    width: 32vw;
    padding-right: 1rem;
    /* border: 1px solid yellow; */
}
.footer {
    color: rgb(15, 15, 15);
}
/* CONTACT */
form {
    max-width: 25%;
    margin: 0 auto;
    margin-top: 15rem;
    color: white;
}
fieldset {
    background-color: rgba(143, 139, 139, 0.3);
    margin: 3rem 0;
    padding: 3rem;
    border-radius: 0.8rem;
}
input[type="text"],
input[type="file"],
input[type="number"] {
    padding: 8px 5px;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
label {
    display: inline-block;
    padding: 0.3rem;
}
button {
    width: 80%;
    padding: 0.5rem;
    outline: none;
    background-color: rgba(15, 15, 15, 0.9);
    color: rgb(155, 151, 151);
    margin-left: 1.3rem;
}
#gender {
    margin-left: rem;
}
.idk {
    margin-top: 6rem;
}
/* GALLERY */

/* 10/10 would not recommand !!!!!!!! */

#imdone {
    color: white;
    font-size: 2rem;
}
.bella {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
    margin-left: 0.75vw;
}
#bigone {
    display: none;
}
.bella:hover + #bigone {
    display: block;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.charlie {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigtwo {
    display: none;
}
.charlie:hover + #bigtwo {
    display: block;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.luna {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigthree {
    display: none;
}
.luna:hover + #bigthree {
    display: block;
    position: absolute;
    width: 30%;
    height: 70%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.lucy {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigfour {
    display: none;
}
.lucy:hover + #bigfour {
    display: block;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.max {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigfive {
    display: none;
}
.max:hover + #bigfive {
    display: block;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.baily {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
    margin-left: 0.75vw;
}
#bigsix {
    display: none;
}
.baily:hover + #bigsix {
    display: block;
    position: absolute;
    width: 50%;
    height: 70%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.cooper {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigseven {
    display: none;
}
.cooper:hover + #bigseven {
    display: block;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.daisy {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigeight {
    display: none;
}
.daisy:hover + #bigeight {
    display: block;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.sadie {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
    
}
#bignein {
    display: none;
}
.sadie:hover + #bignein {
    display: block;
    position: absolute;
    width: 30%;
    height: 60%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.molly {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigten {
    display: none;
}
.molly:hover + #bigten {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

.buddy {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
    margin-left: 0.75vw;
}
#bigeleven {
    display: none;
}
.buddy:hover + #bigeleven {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}
.lola {
    /* border: yellow solid 2px; */
    display: inline-block;
    width: 19vw;
    text-align: center;
}
#bigtwelve {
    display: none;
}
.lola:hover + #bigtwelve {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 30%;
    transform: translate(-50%);
    left: 50%;
}

